@import './variable';
@import './_mixin';

// 重置element-ui样式
//下拉框样式
.type-wrap{
  .el-input__inner{
    @include default-border(#678db4);
  }
}
.el-select-dropdown__item.selected,
.el-select-dropdown__item.hover span,
.el-select-dropdown__item:hover span{
  color: #496280;
  font-weight: bold;
}
.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover{
  background-color: $df-bg-color;
}
.el-select-dropdown{
  @include default-border(#678db4);
}
.el-popper[x-placement^=bottom] {
  margin-top: 0;
}
.fund-type-select{
  .popper__arrow{
    display: none;
  }
}
// 模板自定义页滑动条样式
.configure-info-wrap{
  .el-slider__runway{
    height: 8px;
    background-color: #e7ebf6;
    border-radius: 0;
  }
  .el-slider__bar{
    height: 100%;
    background-color: $btn-ac-bg;
  }
  .el-slider__button{
    border-color: $btn-ac-bg;
  }
}
//提示框样式
//.el-tooltip__popper{
//  box-sizing: border-box;
//  background: #fff !important;
//  border: 1px solid $btn-ac-bg;
//  color: $btn-ac-bg !important;
//  height: 30px;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//.el-tooltip__popper {
//  .popper__arrow{
//    width: 8px;
//    height: 8px;
//    background: #fff !important;
//    border: 0;
//    border-bottom: 1px solid $btn-ac-bg !important;
//    border-right: 1px solid $btn-ac-bg !important;
//    transform: rotate(45deg);
//    &::after{
//      border: 0;
//    }
//  }
//}
//多选框框样式
.checkbox-wrap{
  .el-checkbox-group{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .el-checkbox-button__inner{
    box-sizing: border-box;
    position: relative;
    width: 70px;
    height: 28px;
    color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #668bb4;
  }
  .el-checkbox-button.is-checked .el-checkbox-button__inner{
    background-color: #fff;
    border: 1px solid $btn-ac-bg !important;
    box-shadow: none;
    &:before{
      position: absolute;
      content: '';
      top: 7px;
      left: 27px;
      width: 16px;
      height: 14px;
      background: url("~assets/img/checked-ico.png") center no-repeat;
    }
  }
  .el-checkbox-button:first-child .el-checkbox-button__inner{
    border: 1px solid #668bb4;
  }
  .el-checkbox-button:first-child .el-checkbox-button__inner,
  .el-checkbox-button:last-child .el-checkbox-button__inner{
    border-radius: 0;
  }
}

.industry-wrap{
  .el-checkbox-button{
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: $bd-radius;
  }
  .el-checkbox-button__inner{
    min-width: 70px;
    max-width: 126px;
    height: 28px;
    font-size: 14px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    @include default-border;
    transition: none;
    &:hover{
      color: $btn-ac-bg;
    }
  }
  .el-checkbox-button.is-checked .el-checkbox-button__inner{
    position: relative;
    color: $btn-ac-bg;
    background-color: #fff;
    border-color: $btn-ac-bg;
    box-shadow: none;
    &:before{
      position: absolute;
      top: -8px;
      right: -8px;
      content: '';
      width: 18px;
      height: 18px;
      background: url('~assets/img/checked.png') center no-repeat;
    }
  }
  .el-checkbox-button.is-focus .el-checkbox-button__inner{
    border-color: $btn-ac-bg;
  }
}

