@import './variable';
@import './mixin';

//公共样式

//内容区域样式
.main-wrap{
  box-sizing: border-box;
  margin: 20px auto;
  width: $site-width;
  background: $cl-bg;
}
//页面标题样式
.page-tab-title{
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding: 0 $padding-side;
  font-size: 16px;
  font-weight: bold;
  color: $cl-txt;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: $common-border;
}
//页面子项标签样式
.item-title{
  box-sizing: border-box;
  margin: 20px 0 10px;
  width: 100%;
  height: 36px;
  border-bottom: $common-border;
  display: flex;
  justify-content: flex-start;
  .label-txt{
    display: inline-block;
    height: 100%;
    line-height: 36px;
    font-size: $fz-md;
    color: $btn-ac-bg;
    border-bottom: 1px solid $btn-ac-bg;
  }
}

//产品详情-表格排序表格样式
.el-table__header-wrapper .is-leaf{
  background: $df-bg-color;
}
.details-wrap .router-link-exact-active{
  @include btn-ac;
  border:1px solid $btn-ac-bg !important;
  border-left: none !important;
  border-bottom: none !important;
  margin-left: -1px;
}
.details-wrap .router-link-exact-active:first-child{
  margin-left: 0!important;
}
.details-wrap .el-table__body-wrapper {
  overflow-x: hidden;
}
.details-wrap .el-table__header thead tr th,.details-wrap tbody tr td:not(:nth-of-type(2)){
  font-size: $fz-sm;
  color: #333;
  text-align: center;
}
//图表容器样式
.chartcon {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
//项目分割线样式
.slide{
  position: relative;
  &:before{
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    display: block;
    width: 1px;
    height: 100%;
    background: url('~assets/img/bigLine.png') center no-repeat;
    background-size: contain;
  }
}
//增长率样式
.index-num{
  position: relative;
  font-size: 56px;
  color: $btn-ac-bg;
  font-weight: bold;
  text-align: center;
  &:before{
    position: absolute;
    top: 46%;
    right: -30px;
    content: '';
    display: inline-block;
    width: 18px;
    height: 14px;
  }
  &.up:before{
    background: url("~assets/img/up.png") center no-repeat;
  }
  &.down:before{
    background: url("~assets/img/down.png") center no-repeat;
  }
  &.equal:before{
    background: url("~assets/img/equal.png") center no-repeat;
  }
}


